header {
  position: relative;
  height: 92vh;
  width: 100%;
}

header .image {
  background: url('/world.jpg') no-repeat center center / cover;
  height: 92vh;
  width: 100%;
}

header .modal {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 92vh;
  width: 100%;
}

header .blur {
  filter: blur(4px);
}


header .modal .content .message {
  margin: 15% 0 auto 15%;
  font-size: 42px;
  font-weight: 300;
  line-height: 52px;
  color: white;
}

header .modal .content .message span {
  margin-left: 3%;
  font-weight: bold;
}

header .modal .content .button {
  display: inline-block;
  margin-left: 15.2%;
  margin-top: 5%;
  padding: 16px;
  border: 1px solid white;
  border-radius: 8px;
}

header .modal .content .button:hover {
  padding: 18px;
  font-size: 28px;
}

header .modal .content .button a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}
